html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

body nav {
    padding: 1em;
    white-space: nowrap;
    background-color: #37474F;
    color: #E0E0E0;
}
body nav a {
    color: #64B5F6;
}
body nav h1 {
    margin: 0;
}
body nav label {
    display: none;
}
body nav label span {
    padding: 4px;
}
body nav section {
    margin: 1em 0;
    grid-column: 1 / 3;
}
body nav section ~ section {
    border-top: 2px solid #E0E0E0;
}
body nav section h2 {
    margin: 0;
    margin-top: .66666em;
}
body nav section ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
body nav section ul li {
    padding-bottom: 5px;
}
body nav section ul li::after {
    content: '';
    display: block;
    border-bottom: 3px solid #F06292;
    transform: scaleX(0);
    transition: transform .1s;
}
body nav section ul li:hover::after {
    transform: scaleX(1);
}
body nav section ul li.active {
    color: #F06292;
}
body nav section ul li.active::after {
    transform: scaleX(1);
}
body nav section ul li a {
    display: block;
}

body main {
    margin: 1em;
    flex-grow: 1;
}
body main h1,
body main h1 pre {
    margin: 0;
}
body .crumbs {
    display: flex;
}
body .crumbs code {
    display: block;
    margin: 0 .5em;
}
body .crumbs code::before {
    content: '> ';
}
body main a {
    color: #2196F3;
    font-weight: 500;
    display: inline-flex;
}
body main a:hover,
body main a:hover code {
    background-color: #2196F3;
    color: white;
}
body main pre a::after {
    content: attr(href);
}
body main h2 code {
    background-color: #64B5F6;
    color: #EEEEEE;
    border-left: .5em solid #2196F3;
    margin: 1em 0;
    padding: .25em;
}
body main blockquote {
    margin: 1em 0;
    padding: .25em;
    padding-left: 1.5em;
    background-color: black;
    color: white;
}
body main code {
    background-color: #eee;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 10%;
}
body main figure {
    margin: 1em;
}
body main figure figcaption {
    margin: 1em;
}
body main figure pre {
    margin: 0;
    background-color: #eee;
    padding: .1em;
    padding-left: .5em;
    border: 1px solid #ccc;
    border-left: .5em solid #ccc;
}
body main figure pre + pre {
    border-top: 0;
}
body main figure pre ~ pre {
    border-bottom: 0;
}

@media (max-width: 35em) {
    body {
        flex-direction: column;
    }
    body nav {
        display: grid;
        grid-template-columns: auto 32px;
    }
    body nav label {
        display: block;
    }
    body nav section {
        transition: all .3s ease;
        max-height: 0px;
        overflow-y: hidden;
        margin: 0;
    }
    body nav section ~ section {
        border-top: 0;
    }
    body nav input[type="checkbox"]:checked ~ section {
        max-height: 200px;
    }
}
